<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description | default: site.description }}">
    <title>{% if page.title %}{{ page.title }} · {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <main>
      {{ content }}
    </main>

    <footer>
      <a href="https://github.com/janmaltel/transformer-based-recsys-tutorial">View the source on GitHub</a>
    </footer>
  </body>
</html>
